
{% extends "base.html" %}

{% block body %}
{% load static %}
<div class="navbar">
  <a href="https://www.ieor.iitb.ac.in/">IEOR</a>
  <a href="#">Link</a>
  <a href="#">Link</a>

  <a href="/" class="right">Go to Home Page</a>

</div>

<div class="row">
  <div class="side">
  <h1>INPUT SCREEN</h1>
  <h2 style = "color:blue">Upload a List of BTS</h2>
  <form class="" action="nfupload" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <label for="myfile">Select a file (must be csv file):</label><br>
                  <input type="file" id="myfile" name="myfile"><br><br>
                  <input type="submit" value="Upload">
  </form>
                  <div >
                    {% for m in messages %}
                    <h2>{{m}}</h2>
                    {% endfor %}
                  </div>
                  {% if url %}
                  <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
                  {% endif %}


  <h2 style = "color:blue">Enter hotspot region </h2>
  <form class="" action="hupload" method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                  <label for="hfile">Select a file (must be csv file):</label><br>
                  <input type="file" id="hfile" name="hfile"><br><br>
                  <input type="submit" value="Upload">
  </form>
                  <div >
                    {% for m in messages %}
                    <h2>{{m}}</h2>
                    {% endfor %}
                  </div>
                  {% if url %}
                  <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
                  {% endif %}
<h3 style = "color:red">OR:</h3>

    <form action="create1" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="homepage">Enter center coord and radius(Km) for hotspot area :</label>
        <input type="float" name="lat" placeholder="lat. of center" value="{{lat}}"><br>
        <input type="float" name="lon"  placeholder="lon of center" value="{{lon}}"><br>
        <input type="float" name="radius" placeholder="Radius(Km)" value="{{radius}}"><br>
        <input type="float" name="bradius" placeholder="Buffer radius(Km)" value="{{buffer_radius}}"><br>
        <input type="submit" value="Submit">
    </form>


    <form class="" action="create2" method="post">
      {% csrf_token %}
      <h2 style = "color:blue">To see your buffer area : </h2>
      <input type="submit" value="Click here" onclick="alert('Are you sure!')"><br>
      </form>
    </div>
    <div class="main">
  <h1>OUTPUT SCREEN</h1>

   <iframe width="100%" height="700" src="/mapff"  frameborder="1" allow="autoplay; encrypted-media" allowfullscreen align="left" ></iframe>

  </div>
 </div>

{% endblock %}
